input {
    width: 480px !important;
    height: 27px !important;
    background-color: #FFFFFF !important;
    border-radius: 12px !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-width: 0 !important;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline{
    border: 1px solid blue !important;
}